<div class="col-md-3">
    <a href="/admin/dashboard">
        <button class="btn btn-success my-2 form-control">Password Management</button>
    </a>
    <a href="/admin/users">
        <button class="btn btn-success my-2 form-control">User Management</button>
    </a>
</div>