<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id="check">
        <h2>Your are not Allowed to see this Page</h2>
        <p>Because this page is for those who owned this website....</p>
        <p><a href="/">GO BACK</a></p>
    </div>
</body>

</html>